@font-face {
  font-family: 'gilroy';
  src: url('../fonts/gilroy-extrabold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;

}

body {
  margin: 0px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  letter-spacing: 0.15px;
  font-weight: 300;

  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}

*, *::after, *::before {
  outline: 1px solid rgba(255, 0, 0, 0.5);
}

a:hover,
a:focus {
  color: rgba(0, 0, 0, 0.6);
}

a:active {
  color: rgba(0, 0, 0, 0.3);;
}

.header-logo:hover,
.header-logo:focus,
.footer-logo:hover,
.footer-logo:focus,{
  opacity: 0.6;
}

.header-logo:active,
.footer-logo:active {
  opacity: 0.3;
}

.container {
  width:  1160px;
  margin: 0 auto;
}

.main-header {
  box-sizing: border-box;
  background-color: rgba(240,198,46,0.50);
  padding: 50px 60px;
  margin-top: 40px;
  margin-bottom: 40px; 
}

.header-logo-index {
  position: absolute;
  top: 27px;
}

.header-top-row {
  display: flex;
  margin-bottom: 50px;
}

.search-form {
  width: 440px;
  margin-right: 200px;
}

.search-input {
  width: 350px;

  background-color: transparent;
  border: none;
}

.header-user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.header-product-actions {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  margin-left: auto;
} 

.header-navigation {
  font-size: 18px;
  line-height: 24px;
  font-family: "gilroy", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  /* justify-content: space-between; */
}

.header-navigation-catalog {
  width: 440px;
  margin-right: 200px;
}

.header-navigation-contacts {
  margin-left: auto;
}

.header-link-secondary {
  color: rgba(0, 0, 0, 0.3);
}

.two-columns {
  display: flex;
}

.about {
  box-sizing: border-box;
  width: 465px;
  margin-right: 140px;
}

.contacts {
  width: 560px;
}

.contacts h2,
.about h2,
.container   h1 {
  font-family: "gilroy", sans-serif;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.48px;
  color: #000000;

  margin-bottom: 55px;
}

.delivery-partners {
  margin: 0;
  padding: 0;
  list-style: none;
  
  font-family: "gilroy", sans-serif;
  list-style: none;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.button {
  font-family: "gilroy", sans-serif;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 3.7px;
  text-transform: uppercase;
  color: #000000;
  
  border: none;
  background-color: #f0c52e;
}

.button:hover,
.button:focus {
  color: #000000;
}
.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-footer {
  background-color: #464646;
}


.footer-navigation {
  font-size: 18px;
  line-height: 24px;
  font-family: "gilroy", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.7);
}

.footer-link:hover,
.footer-link:focus {
  color: #ffffff;
}

.footer-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  display: flex;
  margin-top: 90px;
}

.footer-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-self: flex-end;
}

.main-footer p {
  color: #ffffff;
}

.footer-navigation a {
  color: #ffffff;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-first-row {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer-second-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.footer-third-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.footer-logo,
.footer-adress,
.footer-third-row::before {
  width: 300px;
}

.footer-first-row-right-column,
.footer-tel,
.footer-copyright {
  width: 300px;
  display: flex;
  justify-content: flex-end;
}


.socials {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.footer-first-row-right-column {
  display: flex;
  flex-direction: row;
}

.footer-first-row-right-column ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.footer-third-row::before {
  content: "asdsd";
}

.modal {
  display: none;
}


/* каталог */

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.filter {
  background-color:rgba(0, 0, 0, 0.05);
}

.filter fieldset{
  border: 0;
}

.filter-section {
  list-style: none; 
}

.filter h2 {
  font-family: "gilroy", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.filter-title {
  font-family: "gilroy", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.catalog-list {
  list-style: none;
}

.catalog-list-item h3 {
  font-family: "gilroy", sans-serif;
  font-size: 16px;
  line-height: 24px;  
}

.item-price {
  text-align: right;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px; 
}

.footer-link-secondary {
  color: rgba(255, 255, 255, 0.3);
}

/* label > input:disabled {
  color:red;
  не выходит каменный цветок
} */