@font-face {
  font-family: 'gilroy';
  src: url('../fonts/gilroy-extrabold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

body, .text-15 {
  margin: 0px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  letter-spacing: 0.15px;
  font-weight: 300;
  text-transform: none;

  /* background-color: #ffffff; */
}

a {
  color: #000000;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, *::after, *::before {
  /* outline: 1px solid rgba(255, 0, 0, 0.5); */
}

a:hover,
a:focus {
  color: rgba(0, 0, 0, 0.6);
}

a:active {
  color: rgba(0, 0, 0, 0.3);;
}

.footer-logo,
.header-logo,
.header-logo-index {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.header-logo,
.header-logo-index {
  margin-top: 22px;
  margin-bottom: 15px;
}

.header-logo:hover,
.header-logo:focus,
.footer-logo:hover,
.footer-logo:focus,
.copyright-button:hover,
.copyright-button:focus {
  opacity: 0.6;
}

.header-logo:active,
.footer-logo:active,
.copyright-button:active {
  opacity: 0.3;
}

.container {
  box-sizing: border-box;
  width:  1160px;
  margin: 0 auto;
}

.main-header {
  box-sizing: border-box;
  background-image: linear-gradient(transparent 40px, rgba(240,198,46,0.50) 40px);
  padding: 0px 60px 50px 60px;
  display: flex;
  flex-direction: column;
}

.header-top-row {
  display: flex;
  align-items: baseline;
  margin-bottom: 29px;
}

.search-form {
  position: relative;
  display: flex;
  width: 440px;
  margin-right: 97px;
  /* margin-left: 37px; */
}

.search-input {
  width: 340px;
  background-color: transparent;
  border: none;
  
  border-bottom: 2px solid transparent;
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 37px;
  padding-right: 10px;
  transition-duration: 200ms;
}

.search-input::placeholder,
.input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input:focus {
  outline: none;
  border-bottom-color: #000000;
  transition-duration: 200ms;
}

.search-form::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 17px;
  width: 16px;
  height: 16px;
  background-image: url("../img/search.svg");
}

.search-button {
  background-color: transparent;
  border: 2px solid #000000;
  padding: 0px 20px;
  transition-duration: 200ms;
  visibility: hidden;
  opacity: 0;
}

.search-button:hover,
.search-button:focus{
  background-color: #000000;
  color: #ffffff;
  transition-duration: 200ms;
  visibility: visible;
  opacity: 1;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-input:focus + .search-button {
  visibility: visible;
  opacity: 1;
  transition-duration: 200ms;
}

.header-user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.header-link {
  position: relative;
  padding-left: 30px;
}

.header-link:hover,
.header-link:focus {
  opacity: 0.6;
  color: #000000;
}

.header-link:active {
  opacity: 0.3;
  color: #000000;
}


.header-link::before,
.footer-link::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  left: 3px;
  top: 4px;
  background-repeat: no-repeat;
}

.link-user::before {
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
}

.link-compare::before {
  width: 10px;
  height: 10px;
  left: 10px;
  top: 6px;
  background-image: url("../img/compare.svg");
}

.link-cart::before {
  width: 12px;
  height: 12px;
  left: 7px;
  top: 5px;
  background-image: url("../img/cart.svg");
}

.header-product-actions {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  width: 223px;
  justify-content: space-between;
  margin-left: auto;
}

.header-navigation {
  font-size: 18px;
  line-height: 24px;
  font-family: "gilroy", "helvetica", "arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  margin: 0;
  padding: 0;
  list-style: none;

  position: relative;
  display: flex;
  margin-right: -5px;
}

.header-catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 20px;
  left: -60px;

  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  
  height: 135px;
  width: 1040px;
  padding: 30px 60px 0 60px;

  background-color: #f7e296;
  z-index: 1;
  /* pointer-events: none; */
  display: none;
  
  animation-name: catalog-list-show;
  animation-duration: 300ms;
}

.catalog-link:hover + .header-catalog-list {
  display: flex;
  /* pointer-events: all; */
}

.header-catalog-list:hover {
  opacity: 1;
  display: flex;
  /* pointer-events: all; */
}

@keyframes catalog-list-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.header-catalog-list li {
  margin-bottom: 6px;
  margin-right: 60px;
}

.header-catalog-list li:nth-child(5) {
  margin-bottom: 50px;
}

.header-bold-link {
  margin-right: 35px;
}

.catalog-link {
  position: relative;
  padding-right: 40px;
  margin-right: 245px;
}

.catalog-link::after {
  content: "";
  position: absolute;
  left: 230px;
  top: 2px;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.svg");
}

.header-contacts {
  margin-right: 0px;
  margin-left: auto;
}

.header-link-secondary {
  color: rgba(0, 0, 0, 0.3);
  padding-left: 20px;
}

.two-columns {
  display: flex;
}

.index-columns {
  padding-bottom: 85px;
}

.about {
  box-sizing: border-box;
  width: 465px;
  margin-right: 140px;
}

.contacts {
  width: 560px;
}

.title-l {
  margin: 0;
  padding: 0;

  font-family: "gilroy", "helvetica", "arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.48px;
  color: #000000;
}

.title-index {
  position: relative;
  margin-top: 50px;
  margin-bottom: 45px;
}

.default-p {
  margin-bottom: 30px;
}

.title-index::before {
  content: "";
  position: absolute;
  top: -55px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

/* Sliders */

.sliders {
  display: flex;
  position: relative;
  flex-direction: column;
  background-image: linear-gradient(
    rgba(240,198,46,0.50) 110px,
    #ffffff 110px
    );
}

.slider-description .button {
  margin-bottom: 60px;
}

.slider {
  display: flex;
  position: relative;
  margin-bottom: 65px;
  display: none;

  animation-name: slider-show;
  animation-duration: 300ms;
}

@keyframes slider-show {
  0% {
    opacity: 0;
    transform: translateX(100px)
  }
  100% {
    opacity: 1;
  }
}

.slider-current {
  display: flex;
}

.slider-shown {
  visibility: visible;
}


.slider-picture {
  margin-left: 90px;
}

.slider-3 .slider-picture {
  margin-left: 10px;
}


.slider-description {
  width: 510px;
  margin-left: auto;
  margin-right: 50px;
  padding-bottom: 50px;
}

.title-l2 {
  line-height: 56px;
}

.slider-title {
  position: relative;
  margin-top: 80px;
  margin-bottom: 20px;
  z-index: 0;
}

.slider-title::before {
  content: "";
  position: absolute;
  top: -45px;
  left: 0;
  
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slider-title::after {
  content: "01";
  position: absolute;
  top: -30px;
  right: 0;
  font-size: 179px;
  color: #ffffff;
  z-index: -1;
}

.slider-1 .slider-title::after {
  content: "01";
}

.slider-2 .slider-title::after {
  content: "02";
}

.slider-3 .slider-title::after {
  content: "03";
}

.slider-text {
  margin-bottom: 45px;
}

.button-220 {
  box-sizing: border-box;
  width: 220px;
}

.slider-buttons {
  margin: 0;
  padding: 0;
  list-style: none;

  position: absolute;
  bottom: 245px;
  right: 55px;

  display: flex;
  font-size: 0px;
  margin-right: 16px;
  align-content: flex-end;
}

.slider-button {
  display: flex;
  position: relative;
  width: 26px;
  height: 26px;
  margin-right: 6px;
}

.slider-button::before {
  content: "";
  position: absolute;

  width: 10px;
  height: 10px;
  margin: 7px;
  border: 1px solid #000000;
  border-radius: 50%;
  transition: 300ms;
}

.slider-button-current {
  pointer-events: none;
}

.slider-button-current::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;

  width: 4px;
  height: 4px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.slider-button:hover::before {
  transform: scale(1.5);
}

.slider-features {
  display: flex;
}

.slider-features-item {
  margin-right: 75px;
}

.slider-features-text-l {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  margin-bottom: 5px;
}

.slider-features-text-s {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}

/* Index Catalog Section */

.catalog-section-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.catalog-section-item {
  position: relative;
  display: block;
  width: 160px;
  padding-top: 195px;
  padding-bottom: 40px;
}

.catalog-section-item::before,
.catalog-section-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  width: 160px;
  height: 160px;

  transition: 200ms;
}

.catalog-section-item::before {
  background-color: rgba(240,198,46,0.50);
}

.catalog-section-item::after {
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-section-item:hover::before,
.catalog-section-item:focus::before {
  background-color: rgba(240,198,46,1);
}

.catalog-section-item:active::after {
  opacity: 0.3;
}

.catalog-section-item.vr::after {
  background-image: url("../img/cat.vr.svg");
}

.catalog-section-item.monopod::after {
  background-image: url("../img/cat.monopod.svg");
  background-position-y: 43px;
}

.catalog-section-item.actioncam::after {
  background-image: url("../img/cat.actioncam.svg");
}

.catalog-section-item.tracker::after {
  background-image: url("../img/cat.tracker.svg");
}

.catalog-section-item.smartwatch::after {
  background-image: url("../img/cat.smartwatch.svg");
}

.catalog-section-item.drone::after {
  background-image: url("../img/cat.drone.svg");
}


/* Services */
.service-section {
  background-image: linear-gradient(
    #ffffff 100px,
    #e5e5e5 100px
  );
  min-height: 390px;
  margin-bottom: 90px;
}


.service-section .container {
  display: flex;
}

.service-tabs {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 85px;
  width: 400px;
}

.service-tabs li {
  margin-bottom: 35px;
}

.service-tabs::after {
  content: "";
  position: absolute;
  top: -85px;
  left: 277px;
  width: 7px;
  height: calc(100% + 65px);
  background-color: #000000;
}

.button-160 {
  box-sizing: border-box;
  width: 160px;
}

.button.button-current {
  padding-right: 260px;
  color: #f0c52e;
  pointer-events: none;
  transition: 100ms;
}

.button.button-current:hover,
.button.button-current:focus {
  color: #f0c52e;
  /* pointer-events: none; */
}

.button.button-current::before {
  background-color: #000000;
  top: -8px;
  border-color: #000000;
  border-top-width: 20px;
  border-bottom-width: 20px;
}

.service-description{
  margin-top: 70px;
  margin-bottom: 65px;
  width: 760px;
  display: none;
  animation-name: service-show;
  animation-duration: 300ms;
}

@keyframes service-show {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.service-current {
  display: block;
}

.service-description .title-l{
  margin-bottom: 25px;
  padding-top: 30px;
  margin-top: -30px;
}

.service-text {
  width: 450px;
  padding-bottom: 30px;
}

.service-description-1 {
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 560px 45px;
}

.service-description-2 {
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 540px 15px;
}

.service-description-3 {
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 535px 15px;
}

/* Brands */

.brands {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 95px;
}

.brand {
  margin: 0;
  padding: 0;
  display: block;
  width: 260px;
  height: 100px;
  font-size: 0px;
  background-image: url("../img/brands-sprite.jpg");
  background-position: 0px 0px;
  opacity: 0.2;
  transition: opacity 200ms;
}

.brand:hover,
.brand:focus {
  background-position-y: -100px;
  opacity: 1;
}

.brand-spgadgets {
  background-position: -260px 0px;
}

.brand-gopro {
  background-position: -520px 0px;
}

.brand-vive {
  background-position: -780px 0px;
}

/* Delivery */

.delivery-partners {
  margin: 0;
  padding: 0;
  list-style: none;
  
  font-family: "gilroy", "helvetica", "arial", sans-serif;
  list-style: none;
  font-size: 16px;
  line-height: 40px;
  color: #000000;

  margin-top: 65px;
  margin-bottom: 60px;
}

.delivery-partners li {
  position: relative;
  margin-left: 35px;
}

.delivery-partners li::before {
  content: "";
  position: absolute;
  left: -34px;
  top: 15px;
  width: 5px;
  height: 5px;
  border: 2px solid #ececec;
  border-radius: 50%;
}

.button {
  display: inline-block;
  z-index: 1;

  position: relative;

  font-family: "gilroy", "helvetica", "arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.7px;
  text-transform: uppercase;
  background-color: transparent;
  color: #000000;
  text-align: center;
  border: none;
  padding: 0 20px;
}

.button:hover,
.button:focus {
  color: #000000;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 4px solid #f0c52e;
  border-bottom: 4px solid #f0c52e;
  background-color: #f0c52e;
  background-size: 2px 10px;
  left: 0;
  top: 8px;
  transition-duration: 100ms;
  z-index:  -1;
}

.button:hover::before,
.button:focus::before {
  top: -8px;
  border-top-width: 20px;
  border-bottom-width: 20px;
  transition-duration: 100ms;
}


.button-260 {
  box-sizing: border-box;
  min-width: 260px;
}
.contacts-map {
  display: block;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  margin-top: 40px;
  margin-bottom: 75px;
  background-color: #cccccc;
  transition-duration: 300ms;
  overflow: hidden;
}

.contacts-map img{
  transition-duration: 200ms;
}

.contacts-map:hover img,
.contacts-map:focus img {
  transform: scale(1.2);
}

.footer-link {
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  padding-left: 30px;
  margin-left: 33px;
}

.footer-link:hover::before,
.footer-link:focus::before {
  opacity: 0.6;
}

.footer-link:active::before {
  opacity: 0.3;
}

.footer-link-user::before {
  background-image: url("../img/user-orange.svg")
}

.footer-link-compare::before {
  background-image: url("../img/compare-orange.svg")
}

.footer-link-cart::before {
  background-image: url("../img/cart-orange.svg")
}

.footer-user-navigation li:last-child {
  margin-left: 20px;
}

.footer-link:hover,
.footer-link:focus {
  color: #ffffff;
}

.footer-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  display: flex;
  /* margin-top: 85px; */
  background-color: #464646;
}

.footer-navigation {
  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 18px;
  line-height: 24px;
  font-family: "gilroy", "helvetica", "arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  padding: 5px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-navigation li {
  margin-right: 35px;
}

.footer-navigation li:last-child {
  margin-right: 0;
}

.main-footer p {
  color: #ffffff;
}

.footer-navigation a {
  color: #ffffff;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-first-row {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
  margin-bottom: 30px;
}

.footer-second-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  align-items: flex-start;
}

.footer-tel {
  margin: 0;
  padding: 0;
  text-align: right;
}

.footer-third-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.footer-adress,
.footer-third-row::before {
  width: 350px;
  margin: 0;
  padding: 0;
}

.footer-first-row-right-column,
.footer-tel {
  width: 350px;
  display: flex;
  justify-content: flex-end;
}


.socials {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-right: 50px;
}

.footer-first-row-right-column {
  display: flex;
  flex-direction: row;
}

.footer-first-row-right-column ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

/* ======== CATALOG PAGE ========= */

.text-14 {
  font-size: 14px;
  letter-spacing: 0.14px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 20px;
  margin-bottom: 42px;
}

.breadcrumb-link {
  position: relative;
  margin-right: 37px;
}

.breadcrumb-link a,
.breadcrumb-current {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumb-link a:hover,
.breadcrumb-link a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumb-link a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumb-link::after {
  content: "";
  position: absolute;
  top: 12px;
  right: -19px;
  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
}

.inner-page.container {
  padding-left: 60px;
  width: 1100px;
}

.title-wrapper {
  padding: 0 60px;
}

.inner-page .title-l {
  margin-top: 37px;
}

/* ======== Filters ======== */

.filter {
  position: relative;
  background-image:linear-gradient(
    #dcdcdc 70px,
    #f2f2f2 70px
  );
  width: 380px;
  padding-top: 23px;
  padding-right: 70px;
  padding-left: 60px;
}

.background-gradient {
  background-image: linear-gradient(
    to right,  
    #f2f2f2 50%,
    #ffffff 50%
  )
}

.background-gradient:before {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to right,
    #dcdcdc 50%,
    #f2f2f2 50%
  );
  width: 100%;
  height: 70px;
  
}

.filter .title-s {
  margin-bottom: 92px;
}

.filter-section {
  border: 0;
  margin: 0;
  padding: 0; 
  margin-bottom: 45px;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0; 
}

.filter-list li {
  margin-bottom: 10px;
}

.title-s {
  margin: 0;
  padding: 0;

  font-family: "gilroy", "helvetica", "arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.text-18-bold {
  font-family: "gilroy", "helvetica", "arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.filter-title {
  position: relative;
  margin-bottom: 22px;
}

.filter-title::before {
  content: "";
  display: block;
  height: 0;
  border-bottom: 2px solid #000000;
  margin-bottom: 12px;
  width: 200px;
}

.filter-price {
  height: 95px;
}

.filter-color {
  margin-bottom: 25px;
}

.filter-bt {
  margin-bottom: 35px;
}


/* Checkbox and radio */

.filter-option + label {
  position: relative;
  padding-left: 40px;
}

.filter-option + label::before {
  content: "";
  position: absolute;
  left: -1px;
  top: -2px;

  width: 27px;
  height: 25px;
  background-repeat: no-repeat;
}

.filter-option:checked + label:hover::before,
.filter-option:checked + label:focus::before,
.checkbox + label:hover::before,
.checkbox + label:focus::before {
  opacity: 0.6;
}

.filter-option:disabled + label {
  color: #a6a6a6;
}

.filter-option:disabled + label::before {
  opacity: 0.25;
}


/* Checkbox */

.checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.checkbox + label::before {
  background-image: url("../img/checkbox-off.svg");
}


/* Radio Buttons */

.radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.radio + label::before {
  background-image: url("../img/radio-off.svg");
}

.filter-button {
  width: 200px;
}

/* ========== Sorting ========== */

.sorting {
  position: relative;
  display: flex;
  background-color:#f2f2f2;
  padding-top: 20px;
  padding-left: 70px;
  padding-bottom: 10px;
  min-height: 40px;
  /* margin-bottom: 70px; */
}

.sorting-form {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: -1px;
}

.sorting-type,
.sorting-order {
  margin: 0;
  padding: 0;
  display: flex;
}

.sorting-order {
  margin-left: auto;
}

.sorting .title-s {
  margin-top: 3px;
  margin-right: 52px;
}

.sorting-option + label {
  margin-right: 30px;
  cursor: pointer;
  color: #000000;
  opacity: 0.3;
  font-weight: 400;
}

.sorting-option:hover + label,
.sorting-option:focus + label {
  opacity: 0.6;
}

.sorting-option:checked + label,
.sorting-option:active + label {
  opacity: 1;
}

.sorting-order label {
  font-size: 0px;

  display: flex;
  width: 11px;
  height: 10px;
  background-image: url("../img/sorting-direction.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: 0.2;
  padding: 10px;
}

.sorting-order label[for="descending"] {
  transform: rotate(180deg);
  margin-right: -10px;
  opacity: 0.2;
}

.sort-order-radio:checked + label,
.sort-order-radio:active + label  {
  opacity: 1;
}

.sort-order-radio:hover + label,
.sort-order-radio:focus + label {
  opacity: 0.4;
}

/* ========== Catalog List =========== */

.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffffff;
  padding-top: 70px;
}

.catalog-wrapper {
  padding-left: 70px;
  background-color: #ffffff;
  padding-bottom: 75px; 
}


/* Item Card */

.items-list-item {
  margin: 0;
  padding: 0;
  position: relative;
  margin-right: 40px; 
  margin-bottom: 45px;
  display: flex;
  width: 360px;
  flex-direction: column;
}

.items-list-item:nth-child(2n) {
  margin-right: 0px;
}

.item-link {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 33px;
}

.item-title {
  margin: 0;
  padding: 0;
  
  font-family: "gilroy", "helvetica", "arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  order: 1;
  width: 270px;
}

.item-price {
  margin: 0;
  padding: 0;

  text-align: right;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  order: 2;
  margin-left: auto;
  
  display: block;
}

.item-new-label::before {
  content: "new";
  text-align: center;
  font-size: 14px;
  font-family: "gilroy", "helvetica", "arial", sans-serif;
  text-transform: uppercase;
  line-height: 60px;
  color: rgba(0, 0, 0, 0.2);
  letter-spacing: 0.7px;
  
  position: absolute;
  right: 30px;
  top: 30px;
  
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}


.items-list-item-hover {
  position: absolute;
  box-sizing: border-box;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 380px;
  
  background-color: rgba(238,238,238,0.70);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 180px;

  transform: scale(0.95);
  opacity: 0;
  transition-duration: 200ms;
}

.items-list-item:hover .items-list-item-hover,
.items-list-item:focus .items-list-item-hover  {
  display: flex;
  transform: scale(1);
  opacity: 1;
}

.button-200 {
  box-sizing: border-box;
  width: 200px;
  margin-bottom: 15px;
}

.compare-button {
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5)
}

.compare-button:hover,
.compare-button:focus {
  color: rgba(0, 0, 0, 1)
}

.compare-button:active {
  color: rgba(0, 0, 0, 0.2)
}

/* ====== Paging ====== */

.paging {
  background-color:#f2f2f2;
  display: flex;
  justify-content: space-between;
  padding: 9px 15px;
  margin-top: -10px;
  /* margin-bottom: -10px;  */
}

.paging ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.paging-link {
  color: #000000;
  padding: 15px;
}

.pages-list li {
  display: flex;
}

/* ====== Footer ====== */

.footer-link-secondary {
  color: rgba(255, 255, 255, 0.3);
}

.social-button {
  display: block;
  font-size: 0px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  margin: 0 11px;
  opacity: 0.3;
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.facebook-button {
  background-image: url("../img/facebook.svg")
}

.instagram-button {
  background-image: url("../img/instagram.svg")
}

.twitter-button {
  background-image: url("../img/twitter.svg")
}

.copyright-button {
  display: block;
  font-size: 0px;
  right: 0;
  height: 35px;
  width: 27px;
  background-repeat: no-repeat;
  background-image: url("../img/copyright-orange.svg");
  background-position: right;
  margin-top: -3px;
}

.footer-third-row::before {
  content: "";
  background-color: #FFC600;
  margin-top: 10px;
  width: 80px;
  height: 8px;

}

/* = = = = Модальные окна = = = = */

.modal {
  position: fixed;
  flex-direction: column;
  display: flex;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
  z-index: 1;
  background-color: #ffffff;
}


.modal{
  visibility: hidden;
}

.modal-show {
  visibility: visible;
  animation-name: modal-opening;
  animation-duration: 300ms;
}

@keyframes modal-opening {
  0% {
    transform: scale(0.9);    
    opacity: 0;
  }
  100% {
    transform: scale(1);    
    opacity: 1;
  }
}

.map-modal {
  width: 960px;
  margin-left: -480px;
  margin-top: -300px;

}

.map-modal iframe {
  position: absolute;
}

.contact-modal {
  width: 760px;
  padding: 90px 100px 75px 100px;
  margin-left: -480px;
  margin-top: -300px;
  
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@keyframes form-required {
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.form-required-animation {
  animation-name: form-required;
  animation-duration: 200ms;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.name-input {
  margin-right: 40px;
}

.contact-info-wrapper {
  display: flex;
  margin-bottom: 35px;
}

.textarea {
  margin-bottom: 55px;
  resize: vertical;
  min-height: 100px;
}

.input {
  background-color: #f3f3f3;
  border: none;
  padding: 16px 20px 20px 15px;
  margin-top: 5px;
}

.input:hover,
.input:focus {
  background-color: #ebebeb;
}

.input:focus {
  outline: 3px solid #f0c52e;
  /* outline-style: inset; */
}

.button-200 {
  width: 200px;
}

.modal-close-button {
  font-size: 0px;
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  background-image: url("../img/modal-close.svg");
  border: none;
  background-color: transparent;
  opacity: 0.5;
}

.modal-close-button:hover,
.modal-close-button:focus {
  opacity: 1;
}

.modal-close-button:active {
  opacity: 0.3;
}